body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    place-items: center;
}
.main{
  width: 320px;
  height: 450px;
  background: #321;
  border-radius: 50px;
  display: grid;
  place-items: center;
  color: #fff
}
#box{
  width: 83%;
  height: 40px;
  border-radius: 50px;
  outline: none;
  border: none;
  text-align: center
}
input[type="range"]{
  width: 83%;
  cursor: pointer;
  
}
